@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,body {
  height: 100%;
}

nav{
  display: none;
  width: 80%;
  margin: 0 auto;
  height: 100px;
  background-color: black;
  color: #ffffff;
}

/* ######### 
BANNER COMPONENT FOR LANDING PAGE
############### */
#banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

#banner::before{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url('/inkanimation.gif');
  mask-size: cover;
  mask-position: center;
}

/* re-apply the the gif animation triggered by useffect */
#banner.animate-background-mask::before{
  mask-image: url('/inkanimation.gif');
}

.title{
  color: #fff;
  font-size: 72px;
}

/* ###################### */
