@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pirata+One&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-secondary: 'Pirata One',system-ui;
  --font-primary: 'Outfit',sans-serif;
  --color-1: #3a45ce;
  --color-2: #863513;
  --color-3: #11071a;
  --color-4:#732e41;
  --color-5:#231144;
  --color-6:#c16947;
  --color-7:#6f270f;
  --color-8:#481a2d;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* #########
GENERAL STYLES
########### */

html,body {
  height: 100%;
  font-family: var(--font-primary);
}

body{
  background-color: var(--color-6);
}

nav{
  display: none;
  width: 80%;
  margin: 0 auto;
  height: 100px;
  background-color: black;
  color: #ffffff;
}

.headline{
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 10px;
  font-family: var(--font-secondary);
  color: var(--color-3);
  height: 100%;
  margin: 10px auto;
}

.small-headline{
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
}

.page{
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.portal-page,.title-page{
  align-items: flex-start;
}

/* ################ */


/* ##############
TITLE PAGE
################ */

.title-page{
  margin-top: 200px;
}

.title-grid{
  display: grid;
  gap: 5px;
}

.auto-blur{
  animation: autoBlurAnimation linear both;
  animation-timeline: view();
}

@keyframes autoBlurAnimation{
  0%{
    filter: blur(40px);
  } 45%,55%{
    filter: blur(0px);
  } 100%{
    filter: blur(40px);
  }
}

/* ################ */

/* ###########
CONTENT PAGE 
############### */
.auto-show{
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation{
  from{
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }to{
    opacity: 1;
    transform: translateY(0);
  }
}

.text-content{
  display: block;
  width: 100%;
  height: 350px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(87, 33, 51,0.2);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-1);
}

.content-image{
  border-radius: 10px;
  max-width: 400px;
  max-height: 300px;
}

.img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-page{
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 10px;
}

.grid-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,auto);
  gap: 20px;
  width: 100%;
}

@media(max-width:768px){
  .grid-content{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
/* ################# */

/* ###########
PORTAL IMAGE PAGE
########### */

.portal-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portalimage{
  display: block;
  position: absolute;
  top: -100px;
  margin: auto 0;
}

.auto-rotate{
  animation: autoRotateAnimation;
  animation-timeline: view();
}

@keyframes autoRotateAnimation{
  0%{
    transform: scale(1) rotate(0deg);
  }65%{
    opacity: 90%;
  } 70%{
    transform: scale(4.4) rotate(180deg);
    opacity: 0;
    visibility: hidden
  } 100% {
    visibility: hidden;
    opacity: 0;
  }
}
/* ################# */


/* #########
ANIMATED TITLE ON THE BANNER
############## */

.title svg path{
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.1;
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: textTitleAnimation 4s ease-in-out 1 forwards;
}

@keyframes textTitleAnimation{
  0%{
    stroke-dasharray: 60;
  } 80%{
    fill: transparent;
  } 100%{
    fill: #fff;
    stroke-dashoffset: 0;
  }
}

/* ################# */

/* ######### 
BANNER COMPONENT FOR LANDING PAGE
############### */
#banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

#banner::before{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url('/inkanimation.gif');
  mask-size: cover;
  mask-position: center;
}

/* re-apply the the gif animation triggered by useffect */
#banner.animate-background-mask::before{
  mask-image: url('/inkanimation.gif');
}

.title{
  color: #fff;
  font-size: 72px;
}

/* ###################### */
