@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* #########
GENERAL STYLES
########### */

html,body {
  height: 100%;
}

nav{
  display: none;
  width: 80%;
  margin: 0 auto;
  height: 100px;
  background-color: black;
  color: #ffffff;
}

.page{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  height: 100vh;
  position: relative;
}

/* ###########
PORTAL IMAGE PAGE
########### */
.portalimage{
  position: relative;
  top: -100px;
}

.auto-rotate{
  animation: autoRotateAnimation;
  animation-timeline: view();
}

@keyframes autoRotateAnimation{
  from{
    transform: scale(1) rotate(0deg);
  } to{
    transform: scale(1.4) rotate(180deg);
    opacity: 90%;
  }
}
/* ################# */


/* #########
ANIMATED TITLE ON THE BANNER
############## */

.title svg path{
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.1;
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: textTitleAnimation 4s ease-in-out 1 forwards;
}

@keyframes textTitleAnimation{
  0%{
    stroke-dasharray: 60;
  } 80%{
    fill: transparent;
  } 100%{
    fill: #fff;
    stroke-dashoffset: 0;
  }
}

/* ################# */

/* ######### 
BANNER COMPONENT FOR LANDING PAGE
############### */
#banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

#banner::before{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url('/inkanimation.gif');
  mask-size: cover;
  mask-position: center;
}

/* re-apply the the gif animation triggered by useffect */
#banner.animate-background-mask::before{
  mask-image: url('/inkanimation.gif');
}

.title{
  color: #fff;
  font-size: 72px;
}

/* ###################### */
